<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Resourceful Events</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body style="font-family: Arial">
  <div>
      <h1 style="background-color:dodgerblue">Resourceful Events</h1>
      <h2 style="background-color:tomato"><i>No Original Content</i></h2>
    {{{body}}}
</div>
<div>
  <h2 style="background-color:turquoise">Add a New Event</h2>
    <form action="/event" method="post">
       Event Title: <input name="title" type="text" /> <br />
       Description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>